<div>
  <div>
    <button type="button" class="btn btn-default" ng-click="$ctrl.multiCollapsed = !$ctrl.multiCollapsed">Multiplayer</button>
    <div uib-collapse="$ctrl.multiCollapsed">
      <div>
          Clients on page: {{ $ctrl.players }}
      </div>
      <div ng-if="!($ctrl.multiplayer)">
        <div ng-if="$ctrl.availRooms.length > 0">
          <!-- <input type="text" ng-model="$ctrl.joinRoomNum"><button type="button" ng-click="$ctrl.joinRoom();">Join Room {{ $ctrl.joinRoomNum }}</button> -->
          Available rooms:
          <div class="room-container">
            <div class="room" ng-repeat="id in $ctrl.availRooms">
                <button type="button" class="btn btn-default" id="{{ id }}" ng-click="$ctrl.joinRoom(id);">{{ id }}</button>
            </div>
          </div>
        </div>
        <div>
          <button type="button" ng-click="$ctrl.createRoom();">Create Room</button>
        </div>
      </div>
      <div ng-if="$ctrl.multiplayer">
        <div ng-if="($ctrl.mySymbol[0] === 'X' && !$ctrl.mpGame)">
          <p>Ask opponent to join room {{ $ctrl.roomNum }}</p>
        </div>
        <div ng-if="$ctrl.waitingRoom">
          <button type="button" ng-click="$ctrl.leaveGame();">Leave Game</button>
        </div>
        <div ng-if="($ctrl.myTurn && $ctrl.mpGame)">
          <p>Your turn</p>
        </div>
        <div ng-if="(!$ctrl.myTurn && $ctrl.mpGame)">
          <p>Opponent's turn</p>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>

  <game-board grid="$ctrl.gridState" symbol="$ctrl.mySymbol" on-mark="$ctrl.markBoard(id);"></game-board>

</div>