<div>
  <div>
    <div>
      <div ng-if="!($ctrl.multiplayer)">
          <div>
              <input type="text" ng-model="$ctrl.joinRoomNum"><button type="button" ng-click="$ctrl.joinRoom();">Join Room {{ $ctrl.joinRoomNum }}</button>
          </div>
          <div>
              <button type="button" ng-click="$ctrl.createRoom();">Create Room</button>
          </div>
      </div>
      <div ng-if="($ctrl.multiplayer && $ctrl.mySymbol[0] === 'X')">
        <p>Ask opponent to join room {{ $ctrl.roomNum }}</p>
      </div>
    </div>
    <div>
      <label for="multi">Multi:</label><input type="checkbox" id="multi" ng-model="$ctrl.multiplayer">
      <label for="rcvd">Rcvd:</label><input type="checkbox" id="rcvd" ng-model="$ctrl.rcvdMove">
      <label for="turn">myTurn:</label><input type="checkbox" id="turn" ng-model="$ctrl.myTurn">
    </div>
  </div>
  <div>
      <table>
        <tr>
          <td xo id="8"></td>
          <td xo id="7" class="vert"></td>
          <td xo id="6"></td>
        </tr>
        <tr>
          <td xo id="5" class="hori"></td>
          <td xo id="4" class="vert hori"></td>
          <td xo id="3" class="hori"></td>
        </tr>
        <tr>
          <td xo id="2"></td>
          <td xo id="1" class="vert"></td>
          <td xo id="0"></td>
        </tr>
      </table>
  </div>
</div>